.gsap-scroll-component {
    /* overflow: hidden; */
    padding: 1em 2em;
}

.gsap-scroll-sections {
    margin-top: 30px;
    height: 100vh;
}

.all-sections {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    /* width: 100vw;
    width: 100%; */

}

.sections {
    padding: 1em 2em;
    min-width: 90%;
    margin: auto;
}